/* line 9, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
* {
  box-sizing: border-box; }

/* line 12, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #555; }

/* line 19, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
a {
  text-decoration: none;
  display: inline-block;
  color: #555; }

/* line 25, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
.header, .main, .footer {
  width: 100%;
  display: block;
  clear: both;
  float: left; }

/* line 32, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
.header {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #efefef; }
  /* line 36, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
  .header h1 {
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: -3px; }

/* line 42, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
.nav {
  margin: 0 auto;
  padding: 0; }
  /* line 46, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
  .nav li {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style: none; }
    /* line 52, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
    .nav li a {
      padding: 5px 10px;
      color: #777; }
      /* line 55, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
      .nav li a:hover {
        color: #333; }

/* line 59, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
.main {
  border-bottom: 1px solid #efefef; }

/* line 62, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
.home-container {
  height: 400px;
  background: url("../images/landing-BG.jpg") center;
  background-color: #fff;
  background-size: cover; }

/* line 68, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
.content-container {
  margin: 50px auto;
  width: 100%;
  max-width: 1060px; }
  /* line 72, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
  .content-container ul {
    max-width: 630px;
    padding: 0;
    margin: 0 auto;
    width: 100%; }
    /* line 77, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
    .content-container ul li {
      padding-bottom: 15px;
      display: block;
      text-decoration: none; }
      /* line 81, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
      .content-container ul li a {
        text-transform: uppercase;
        color: #777;
        font-weight: 700;
        font-size: 30px; }
        /* line 86, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
        .content-container ul li a:hover {
          color: #666; }
        /* line 88, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
        .content-container ul li a span {
          color: #aaa;
          font-size: 16px;
          font-weight: 500; }
  /* line 92, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
  .content-container blockquote {
    text-align: center;
    font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px; }
  /* line 100, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
  .content-container p {
    padding: 0 100px 15px 100px;
    line-height: 25px; }

/* line 104, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
form {
  width: 320px;
  margin: 0 auto; }
  /* line 107, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
  form span {
    display: block; }
  /* line 109, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
  form .name {
    font-size: 14px;
    padding: 3px 7px;
    width: 100%;
    height: 30px; }
  /* line 114, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
  form .email {
    font-size: 14px;
    padding: 3px 7px;
    width: 100%;
    height: 30px; }
  /* line 119, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
  form .textarea {
    resize: none;
    border: 1px solid #ccc;
    font-size: 14px;
    padding: 3px 7px;
    width: 100%;
    height: 150px; }
  /* line 126, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
  form .submit {
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
    border: none;
    height: 50px;
    font-size: 18px;
    color: #fff;
    background-color: #2ecc71; }
    /* line 135, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
    form .submit:hover {
      background-color: #27ae60; }

/* line 139, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
.content-container {
  overflow: hidden; }
  /* line 141, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
  .content-container .content-image {
    float: left;
    width: 50%; }
    /* line 145, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
    .content-container .content-image a img.boqsRender1 {
      padding: 5px;
      border: 1px solid #eee;
      width: 500px; }
  /* line 149, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
  .content-container .content-description {
    float: left;
    width: 50%; }

/* line 155, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
.footer {
  padding: 20px; }
  /* line 158, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
  .footer ul {
    padding: 0;
    margin: 0;
    display: block;
    float: right; }
    /* line 163, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
    .footer ul li {
      display: inline-block; }
      /* line 165, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
      .footer ul li .dribbble, .footer ul li .twitter, .footer ul li .github {
        padding: 0 5px; }
        /* line 167, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
        .footer ul li .dribbble img, .footer ul li .twitter img, .footer ul li .github img {
          width: 20px; }
          /* line 169, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
          .footer ul li .dribbble img:hover, .footer ul li .twitter img:hover, .footer ul li .github img:hover {
            opacity: 0.8; }
  /* line 172, /Users/williamd/Desktop/spa-boilerplate/src/assets/styles/index.sass */
  .footer p {
    display: block;
    float: right;
    text-align: right;
    margin: 0 0 0 20px;
    padding: 0;
    line-height: 24px;
    font-size: 12px; }
