
// -----------------------------
// Variables
// -----------------------------

$color: #555
$lightColor: #efefef
$darkColor: #333

// -----------------------------
// Mixins
// -----------------------------

// @mixin transition($transition-property, $transition-time, $method) {
//   -webkit-transition: $transition-property $transition-time $method
//   -moz-transition: $transition-property $transition-time $method
//   -ms-transition: $transition-property $transition-time $method
//   -o-transition: $transition-property $transition-time $method
//   transition: $transition-property $transition-time $method
// }

// -----------------------------
// Global Styles
// -----------------------------
*
  box-sizing: border-box

body
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
  padding: 0
  margin: 0
  font-size: 14px
  color: $color

a
  text-decoration: none
  display: inline-block
  color: $color

// -----------------------------
// App Specific
// -----------------------------

.header, .main, .footer
  width: 100%
  display: block
  clear: both
  float: left

// -----------------------------
// Header
// -----------------------------

.header
  text-align: center
  padding: 20px
  border-bottom: 1px solid $lightColor
  h1
    font-size: 12px
    margin-bottom: 20px
    margin-top: -3px

// -----------------------------
// Navigation
// -----------------------------

.nav
  margin: 0 auto
  padding: 0

  li
    margin: 0
    padding: 0
    display: inline-block
    list-style: none

    a
      padding: 5px 10px
      color: #777
      // @include transition(all, 0.5s, ease-in-out)
      &:hover
        color: #333

// -----------------------------
// Main
// -----------------------------

.main
  border-bottom: 1px solid $lightColor

.home-container 
  height: 400px
  background: url("../images/landing-BG.jpg") center
  background-color: #fff
  background-size: cover

.content-container
  margin: 50px auto
  width: 100%
  max-width: 1060px
  ul
    max-width: 450px
    padding: 0
    margin: 0 auto
    width: 100%
    li
      padding-bottom: 15px
      display: block
      text-decoration: none
      a
        text-transform: uppercase
        color: #777
        font-weight: 700
        font-size: 30px
        &:hover
          color: #555
        span
          color: #aaa 
          font-size: 16px
          font-weight: 500
  blockquote
    text-align: center
    font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif
    font-size: 40px
    font-style: normal
    font-variant: normal
    font-weight: 500
    line-height: 26.3999996185303px
  p
    padding: 0 100px 15px 100px
    line-height: 25px

// -----------------------------
// Footer
// -----------------------------

.footer
  padding: 20px

  p
    margin: 0
    padding: 0
    font-size: 12px

